{% extends "base.html" %}

{% block content %}

    <section>
        <h3>Some History</h3>
        <p>I grew up excelling at athletics and winning medals.</p>
        <p>At 8, got my first bike and have been pedaling through life ever since (many bikes later).</p>
        <p>At 10, got introducted to my first Pentium 4 computer and thats when I realized what obsessesion was.</p>
<p>At 13, fell into Sherlock Holmes and became hooked on detective novels and later biographies.</p>
<p>2010: Picked up my first acoustic guitar. Country and Folk are my still my favorite genres.</p>
<p>2012: Started maintaining an electronic diary and I have a detailed record of happenings of almost every day since then.</p>
<p>2014: Discovered early morning strength training was the key ingredient for a productive day</p>
<p>2020: Entered a true crime phase and listened to all episodes of Crime Junkie until Aug 2020</p>
<p>2021: Finished every GTA game in the franchise (still waiting for GTA 6).</p>
<p>2025: Reawakened my lost boxing skills (the gloves are officially back on).</p>

    </section>
<section>
  <h3>Fun Facts</h3>
  <ul>
    <li>Some good books I’ve enjoyed: Educated (Tara Westover), Greenlights (Matthew McConaughey)</li>
    <li>Movies that hit differently: La La Land, Manchester by the Sea, Everything directed by David Fincher</li>
    <li>Series that kept me up at night: Mindhunter, Ozark, House of Cards</li>
    <li>Reflecting on life through <a href="https://www.notion.so/thunderous-titan/Ephemeral-Encounters-Indelible-Marks-cbda1448cda64737a6d5edfb52195c7e" target="_blank" rel="noopener noreferrer">Ephemeral Encounters</a></li>
    <li>Capturing travels on <a href="https://www.youtube.com/@AdityaLad7" target="_blank" rel="noopener noreferrer">my YouTube channel</a></li>
  </ul>
</section>

    <section>
        <h3>I Dream about</h3>
        <ul>
            <li>Afternoon Tea</li>
            <li>Always finding inspiration</li>
            <li>Having no regrets </li>
            <li>Hoping for the best</li>
            <li>Staying organized</li>
            <li>Painting like Edward Hopper someday</li>
            <li>Keeping life simple and beautifully minimal</li>
            <li>Surviving without my phone for a few hours</li>
        </ul>
    </section>
{% endblock %}
